ipywidgets==8.1.2
notebook==7.1.0
ensure==1.0.4
python-youtube
py-youtube==1.1.7
pytest==8.0.1
ipython==8.20.0

# dev op requirements

pytest==8.0.1
tox==4.13.0
black==24.2.0
flake8==7.0.0
mypy==1.8.0
-e .